ul#Menu li {
  display: inline;
  padding: 0 1em;
  line-height: 50px;
  height: auto;
}

ul{
  background-color: rgb(128,128,128);
  height: 50px;
  text-align: left;
  margin: 0;
  padding: 0;
}

li a{
  text-decoration: none;
  width: 70;
}

button a {
  text-decoration: none;
}

h1 {
  font-family: Comic Sans MS;
}

p{
  border: 2px black dashed;
}

div.Recherche {
  text-align: center;
    line-height: 100px;
}

input#search {
    width: 400px;
    height: 20px;
}

form {
  display: inline;
}

input#search-btn {
    width: 100px;
    height: 100px;
}

div.Ajouter_Flux {
  text-align: center;
    line-height: 100px;
}

input#nf {
  width: 400px;
  height: 20px;
}

input#nf-btn {
  width: 100px;
  height: 100px;
}
